*{
  padding: 0;
  margin: 0;
}

.navbar{
  background-color: rgb(8, 95, 95);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 80px;
  align-items: center;
}
.navbar>h4>button{

  padding: 9px 8px;
    border-radius: 5px;
    cursor: pointer;
}